VITE_SUPABASE_URL=https://njwvwzbqqhyjffnzljcm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5qd3Z3emJxcWh5amZmbnpsamNtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE5MTMwOTQsImV4cCI6MjA5NzQ4OTA5NH0.Ab2CkGggu8EM7f-hayW-mSKwkK6KflG81cX0mKKULds
